<header class="header">
  <img src="./images/logo-adalab.png" alt="" />
  <h1 class="title">Las profes</h1>
  <nav>
    <ul class="main_menu">
      <li>
        <a class="menu_link" href="./index.html#team">Equipo</a>
      </li>
      <li>
        <a class="menu_link" href="./index.html#about-us">Quiénes somos</a>
      </li>
      <li>
        <a class="menu_link" href="./contact.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="hero">Somos artesanas de desarrolladoras.</div>
</header>
